<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

	<head>
		<meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=UTF-8">
		<title>My FSBoard (Powered by FSBoard)</title>
    	<link rel="stylesheet" type="text/css" href="main.css">

		<!--[if IE]>
	    	<link rel="stylesheet" type="text/css" href="main-ie.css">
		<![endif]-->
   	</head>
    	
 	<body>
 	
		<div id="outer-mold">    
			<div id="iebug-mold">		

	  			<div id="left-background"></div>
	  			<div id="right-background"></div>
			  			
				<div id="expanding-mold">

					<div id="header">
						<div id="header-banner"><img src="images/header-banner.png" alt="FSBoard" /></div>
						<div id="header-right">this is where box goes</div>									
					</div>
  				
	  				<!-- 	<p style="margin : 0;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec ornare, arcu et tristique faucibus, sapien turpis ullamcorper est, sit amet feugiat nunc elit non quam. Integer sit amet leo non neque ullamcorper laoreet. Cras ornare congue ligula. Integer consequat facilisis leo. Proin pretium. Sed tincidunt imperdiet nibh. Quisque velit tellus, vehicula vitae, eleifend eu, euismod id, nisi. Morbi at metus. Fusce hendrerit laoreet velit. Nunc in lacus et nulla congue blandit. Integer rutrum. Curabitur et tortor ut ligula aliquam fermentum.</p>
-->
 				</div>
 						
 			</div>    		
 		</div>
 	
	</body>
    	
</html>